body {
  
  text-align: center;
  background-image: linear-gradient(135deg, rgb(55, 112, 217), rgb(163, 190, 233), rgb(0, 142, 236, 0.815));
  background-repeat: no-repeat;
  height: 100vh;
}


.title {
  font-family: "Cairo";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  line-height:2
}

h1 { 
  background-image: url(https://media.giphy.com/media/h76r04w8cYic7T2BHG/giphy-downsized-large.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 80px;
  margin: 10px 0;
  -webkit-text-stroke: 2px rgb(37, 63, 233);
}

.container{
  border-style: solid;
  width: 70%;
  margin: auto;
  padding: 20px;
  background-color: antiquewhite;
}

.small{
  width: 30%;
}

span{
  display:inline-block;
  width: 60px;
  height: 50px;
  border-style: solid;
  /* text-align:justify center; */
  margin: 5px;
  background-color: rgb(163, 190, 233);
  padding-top: 20px;
}

#guesses{
  border-style: dashed;
  width: 50px;
  padding: 8px;
  margin-left: auto;
}

#wordContainer {
  display: inline-flex;
}

.gameButton {
  margin-top: 50px;
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}



.gameButton:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.gameButton:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.gameButton::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.gameButton:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
